body {
  background-color: black;
  border: 3px solid white;
}

img {
  width: 100%;
  height: 675px;
}

.container {
  position: relative;
}

#rick {
  position: absolute;
  top: 10px;
  left: 600px;
  right: 0;
  width: 60px;
  height: 80px;
  background-image: url("images/picklerick.png");
  background-repeat: no-repeat;
  background-size: 50%;
}

#rocket {
  position: absolute;
  top:10px;
  left:600px;
  right:0;
  width: 60px;
  height: 80px;
  background-image: url("images/rocket1.png");
  background-repeat: no-repeat;
  background-size: 25%;
  transition: top 1s linear;
  /* rocketTop 10px
rocketBottom 469px
rocketRight 0px
rocketLeft 600px
rocketWidth 60px
rocketHeight 200px */
}

.morty {
  position: absolute;
  bottom: 0;
  left: 600px;
  width: 60px;
  height: 80px;
  background-image: url("images/Morty.png");
  background-repeat: no-repeat;
  background-size: 50%;
  animation: move 5s linear infinite;
  /*mortyTop 618px
mortyBottom 0px
mortyRight 171px
mortyLeft 600px
mortyWidth 60px
mortyHeight 80px*/
}

@keyframes move {
    0%{
   bottom: 0%;
    }
  50% {
    bottom: 50%;
  }
  75% {
    bottom: 75%;
  }
  100% {
    bottom: 100%;
  }
}
